#modo {
    width: 30%;
    font-size: 220%;
    margin: 2%;
}

.dark {
    background-color: #131313;
}

.dark .container {
    background-color: #181818;
    width: 80vw;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

.dark .search-wrapper button {
    font-size: 1em;
    background-color: #936bf7bc;
    color: #181717;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
}

.dark.search-wrapper input {
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #936bf7bc;
    outline: none;
    color: #222a43;
}
